aiobotocore==2.16.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aioitertools==0.12.0
aiosignal==1.3.2
altair==5.3.0
aniso8601==9.0.1
apispec==6.4.0
apispec-webframeworks==1.0.0
arrow==1.3.0
asttokens==2.4.1
attrs==23.2.0
Automat==22.10.0
babel==2.17.0
barcode==1.0.4
beautifulsoup4==4.13.3
bidict==0.23.1
binaryornot==0.4.4
bleak==0.22.3
bleak-winrt==1.2.0
blinker==1.8.2
boto3==1.35.88
cachetools==5.3.3
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
constantly==23.10.4
contourpy==1.3.1
cookiecutter==2.5.0
cryptography==43.0.3
cssselect2==0.7.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
debugpy==1.8.1
decorator==5.1.1
deepdiff==6.7.1
defusedxml==0.7.1
dnspython==2.6.1
docutils==0.21.2
et-xmlfile==1.1.0
executing==2.0.1
Flask==3.0.2
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
fonttools==4.55.3
fpdf==1.7.2
frozenlist==1.5.0
fsspec==2024.12.0
gevent>=24.2.1
gevent-websocket==0.10.1
ghostscript==0.7
gitdb==4.0.11
gitignore_parser==0.1.11
GitPython==3.1.43
greenlet==3.0.3
h11==0.14.0
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
ipykernel==6.29.4
ipython==8.24.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-examples==2.3.0
Kivy-Garden==0.1.5
kivymd==0.104.2
kiwisolver==1.4.7
kthread==0.2.3
Levenshtein==0.26.1
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
MouseInfo==0.1.3
multidict==6.1.0
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.3
openpy==0.0.2
openpyxl==3.1.2
oracledb==2.4.1
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.0
parso==0.8.4
passlib==1.7.4
patsy==0.5.6
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
plotly-express==0.4.1
plyer==2.1.0
prompt_toolkit==3.0.45
propcache==0.2.1
protobuf==4.25.3
psutil==5.9.8
pure-eval==0.2.2
pyarrow==15.0.0
PyAutoGUI==0.9.54
pycparser==2.22
pydeck==0.9.1
PyGetWindow==0.0.9
Pygments==2.18.0
pymongo==4.6.1
PyMsgBox==1.0.9
pyparsing==3.2.0
pyperclip==1.9.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytesseract==0.3.13
python-barcode==0.15.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.9.1
python-Levenshtein==0.26.1
python-slugify==8.0.4
python-socketio==5.11.2
pytweening==1.2.0
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
pyzmq==26.0.3
qrcode==8.0
RapidFuzz==3.11.0
referencing==0.35.1
reportlab==4.2.5
requests==2.32.2
rich==13.7.1
rpds-py==0.18.1
s3fs==2024.12.0
s3transfer==0.10.1
schedule==1.2.2
scipy==1.13.1
seaborn==0.13.2
selenium==4.29.0
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.25
stack-data==0.6.3
statsmodels==0.14.2
streamlit==1.35.0
taipy==3.1.1
taipy-config==3.1.1
taipy-core==3.1.1
taipy-gui==3.1.2
taipy-rest==3.1.1
taipy-templates==3.1.1
tenacity==8.3.0
text-unidecode==1.3
tinycss2==1.4.0
tkcalendar==1.6.1
toml==0.10.2
toolz==0.12.1
tornado==6.4
traitlets==5.14.3
treepoem==3.25.0
trio==0.29.0
trio-websocket==0.12.2
ttkbootstrap==1.12.0
Twisted==23.10.0
twisted-iocpsupport==1.0.4
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.0
tzdata==2023.4
tzlocal==5.2
urllib3==2.2.1
watchdog==4.0.1
wcwidth==0.2.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
wrapt==1.17.0
wsproto==1.2.0
xlrd==2.0.1
yarl==1.18.3
zope.event==5.0
zope.interface==6.4.post2

